<!DOCTYPE html>
<html>
  <head>
    <title>HorrorMovie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/900bb64dc7.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <% unless user_signed_in? %>
    <p><%= link_to "ログイン", new_user_session_path %></p>
    <p><%= link_to "新規登録", new_user_registration_path %></p>
    <% end %>
    <% if user_signed_in? %>
    <p><%= link_to "新規投稿",  new_movie_path %></p>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <% end %>
    <p><%= link_to "感動系", emotion_movies_path %></p>
    <p><%= link_to "映像系", graphic_movies_path %></p>
    <p><%= link_to "最恐ホラーベスト5", movies_path %></p>
   <p><%= link_to "about", about_movies_path %></p>
   </header>
      <%= yield %>
    </body>
</html>
